In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import interact
import scipy
from numpy import dot
from numpy.linalg import norm

from sklearn.metrics.pairwise import cosine_similarity
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
base_data = pd.read_csv('./최종 결과.txt', sep=",")
base_data

,Unnamed: 0,address,gu,dong,mac_score,lot_score,burgerking_score,seveneleven_score,cu_score,gs25_score,...,lot_count,burgerking_count,seveneleven_count,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count
0,0,서울특별시,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
1,1,서울특별시 종로구,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
2,2,서울특별시 종로구 청운동,종로구,청운동,0.00,0.00,0.0,0.00,0.00,0.12,...,0,0,0,0,1,0,0,0,0,1
3,3,서울특별시 종로구 신교동,종로구,신교동,0.00,0.00,0.0,0.00,0.13,0.00,...,0,0,0,1,0,0,0,0,0,1
4,4,서울특별시 종로구 궁정동,종로구,궁정동,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,서울특별시 강동구 둔촌동,강동구,둔촌동,3.33,0.00,0.0,0.85,0.67,0.88,...,0,0,4,5,7,0,0,0,0,17
489,489,서울특별시 강동구 암사동,강동구,암사동,0.00,1.25,0.0,1.06,1.73,1.75,...,1,0,5,13,14,1,0,0,0,34
490,490,서울특별시 강동구 성내동,강동구,성내동,3.33,1.25,10.0,2.55,2.67,3.00,...,1,3,12,20,24,4,1,1,0,67
491,491,서울특별시 강동구 천호동,강동구,천호동,3.33,1.25,0.0,4.68,2.93,3.12,...,1,0,22,22,25,2,0,0,1,74
492,492,서울특별시 강동구 강일동,강동구,강일동,0.00,1.25,0.0,0.64,0.53,0.62,...,1,0,3,4,5,0,0,0,0,13

In [3]:
feature = base_data[['mac_score','lot_score','burgerking_score','starbucks_score','cu_score','gs25_score','seveneleven_score','lottecinema_score','megabox_score','cgv_score','total_score','high_oil', 'oil', 'oil2','total', 'catch', 'percent', 'mac_count','lot_count','burgerking_count','seveneleven_count','cu_count','gs25_count','starbucks_count','lottecinema_count','megabox_count','cgv_count','total_count']]
feature
# model = KMeans(n_clusters=15, algorithm='auto')
# model.fit(feature)
# predict = pd.DataFrame(model.predict(feature))
# predict.columns=['predict']

# predict

,mac_score,lot_score,burgerking_score,starbucks_score,cu_score,gs25_score,seveneleven_score,lottecinema_score,megabox_score,cgv_score,...,lot_count,burgerking_count,seveneleven_count,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count
0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.00,0.00,0.0,0.00,0.00,0.12,0.00,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,1
3,0.00,0.00,0.0,0.00,0.13,0.00,0.00,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
4,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,3.33,0.00,0.0,0.00,0.67,0.88,0.85,0.0,0.0,0.0,...,0,0,4,5,7,0,0,0,0,17
489,0.00,1.25,0.0,0.43,1.73,1.75,1.06,0.0,0.0,0.0,...,1,0,5,13,14,1,0,0,0,34
490,3.33,1.25,10.0,1.74,2.67,3.00,2.55,5.0,10.0,0.0,...,1,3,12,20,24,4,1,1,0,67
491,3.33,1.25,0.0,0.87,2.93,3.12,4.68,0.0,0.0,5.0,...,1,0,22,22,25,2,0,0,1,74
492,0.00,1.25,0.0,0.00,0.53,0.62,0.64,0.0,0.0,0.0,...,1,0,3,4,5,0,0,0,0,13

In [16]:
feature_cos_sim = cosine_similarity(feature)

In [17]:
rounded_test_data_cos_sim = pd.DataFrame(feature_cos_sim, index=feature.index, columns=feature.index).apply(lambda x: round(x, 2))

In [18]:
rounded_test_data_cos_sim

,0,1,2,3,4,5,6,7,8,9,...,483,484,485,486,487,488,489,490,491,492
0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.0,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.0,0.84,0.98,0.90,0.79,0.84,0.84,0.85,0.89,0.89
3,0.0,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.0,0.84,0.98,0.90,0.79,0.84,0.84,0.85,0.89,0.89
4,0.0,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.0,0.84,0.98,0.90,0.79,0.84,0.84,0.85,0.89,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,0.0,0.0,0.84,0.84,0.84,0.84,0.84,0.84,0.84,0.84,...,0.0,1.00,0.86,0.94,1.00,1.00,1.00,1.00,0.94,0.94
489,0.0,0.0,0.84,0.84,0.84,0.84,0.84,0.84,0.84,0.84,...,0.0,1.00,0.85,0.94,1.00,1.00,1.00,1.00,0.94,0.94
490,0.0,0.0,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,...,0.0,1.00,0.86,0.95,0.99,1.00,1.00,1.00,0.95,0.95
491,0.0,0.0,0.89,0.89,0.89,0.89,0.89,0.89,0.89,0.89,...,0.0,0.94,0.91,1.00,0.92,0.94,0.94,0.95,1.00,1.00
492,0.0,0.0,0.89,0.89,0.89,0.89,0.89,0.89,0.89,0.89,...,0.0,0.94,0.91,1.00,0.92,0.94,0.94,0.95,1.00,1.00

In [50]:
address = pd.read_csv('../data_gdr/1-2. 서울 법정동 주소목록(최종).txt', sep=",")

In [87]:
address["gu"] = address.apply(lambda x:x["법정동명"].split()[1] if len(x["법정동명"].split())==3 else "",axis=1)
address["dong"] = address.apply(lambda x:x["법정동명"].split()[2] if len(x["법정동명"].split())==3 else "",axis=1)
address

              법정동명   gu dong
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동  종로구  청운동
3    서울특별시 종로구 신교동  종로구  신교동
4    서울특별시 종로구 궁정동  종로구  궁정동
..             ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동
489  서울특별시 강동구 암사동  강동구  암사동
490  서울특별시 강동구 성내동  강동구  성내동
491  서울특별시 강동구 천호동  강동구  천호동
492  서울특별시 강동구 강일동  강동구  강일동

[493 rows x 3 columns]

In [60]:
address['법정동명'][2]

'서울특별시 종로구 청운동'

In [88]:
import random
res = pd.DataFrame(columns=('first', 'second', 'third'))
res
for i in range(len(rounded_test_data_cos_sim)):
#     print(rounded_test_data_cos_sim[i])
    arr = []
    for j in range(len(rounded_test_data_cos_sim[i])):
        if i != j and rounded_test_data_cos_sim[i][j] == 1.0:
            arr.append([rounded_test_data_cos_sim[i][j], address['법정동명'][j]])
#     print(sorted(arr, key=lambda x: x[0], reverse=True)[:3])
    random.shuffle(arr)
    if arr:
        if len(arr)>=3:
            res.loc[i] = [arr[0][1],arr[1][1],arr[2][1]]
        elif len(arr) == 2:
            res.loc[i] = [arr[0][1],arr[1][1],None]
        elif len(arr) == 1:
            res.loc[i] = [arr[0][1],None,None]
    else:
        res.loc[i] = [None,None,None]
#     print(arr[:3])
#     if arr:
#         if arr[0]:
#             res['first'] = arr[0]
#         if len(arr)>=2:
#             res['second'] = arr[1]
#         else:
#             res['second'] = None
#         if len(arr)>=3:
#             res['third'] = arr[2]
#         else:
#             res['third'] = None
#     else:
#         res['first'] = None
#         res['second'] = None
#         res['third'] = None
#     print()
res

             first          second            third
0             None            None             None
1             None            None             None
2     서울특별시 종로구 재동  서울특별시 종로구 종로3가    서울특별시 종로구 궁정동
3    서울특별시 종로구 송현동   서울특별시 종로구 권농동    서울특별시 종로구 원서동
4    서울특별시 종로구 가회동   서울특별시 종로구 와룡동  서울특별시 종로구 신문로1가
..             ...             ...              ...
488  서울특별시 중랑구 면목동   서울특별시 금천구 시흥동     서울특별시 광진구 능동
489  서울특별시 중랑구 중화동   서울특별시 서초구 방배동    서울특별시 강서구 염창동
490  서울특별시 광진구 광장동   서울특별시 노원구 하계동    서울특별시 마포구 성산동
491  서울특별시 서초구 원지동   서울특별시 마포구 도화동    서울특별시 중랑구 신내동
492  서울특별시 강북구 수유동   서울특별시 서초구 우면동    서울특별시 구로구 고척동

[493 rows x 3 columns]

In [89]:
# predict.to_csv("kmeans.txt", mode="w")
# final = pd.concat([address, res], axis=1)
# final

              법정동명   gu dong          first          second            third
0            서울특별시                     None            None             None
1        서울특별시 종로구                     None            None             None
2    서울특별시 종로구 청운동  종로구  청운동   서울특별시 종로구 재동  서울특별시 종로구 종로3가    서울특별시 종로구 궁정동
3    서울특별시 종로구 신교동  종로구  신교동  서울특별시 종로구 송현동   서울특별시 종로구 권농동    서울특별시 종로구 원서동
4    서울특별시 종로구 궁정동  종로구  궁정동  서울특별시 종로구 가회동   서울특별시 종로구 와룡동  서울특별시 종로구 신문로1가
..             ...  ...  ...            ...             ...              ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동  서울특별시 중랑구 면목동   서울특별시 금천구 시흥동     서울특별시 광진구 능동
489  서울특별시 강동구 암사동  강동구  암사동  서울특별시 중랑구 중화동   서울특별시 서초구 방배동    서울특별시 강서구 염창동
490  서울특별시 강동구 성내동  강동구  성내동  서울특별시 광진구 광장동   서울특별시 노원구 하계동    서울특별시 마포구 성산동
491  서울특별시 강동구 천호동  강동구  천호동  서울특별시 서초구 원지동   서울특별시 마포구 도화동    서울특별시 중랑구 신내동
492  서울특별시 강동구 강일동  강동구  강일동  서울특별시 강북구 수유동   서울특별시 서초구 우면동    서울특별시 구로구 고척동

[493 rows x 6 columns]

In [48]:
last = pd.

In [49]:
address

              법정동명
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동
3    서울특별시 종로구 신교동
4    서울특별시 종로구 궁정동
..             ...
488  서울특별시 강동구 둔촌동
489  서울특별시 강동구 암사동
490  서울특별시 강동구 성내동
491  서울특별시 강동구 천호동
492  서울특별시 강동구 강일동

[493 rows x 1 columns]

In [46]:
address.columns = ["first"]

In [90]:
base_data

,Unnamed: 0,address,gu,dong,mac_score,lot_score,burgerking_score,seveneleven_score,cu_score,gs25_score,...,lot_count,burgerking_count,seveneleven_count,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count
0,0,서울특별시,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
1,1,서울특별시 종로구,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
2,2,서울특별시 종로구 청운동,종로구,청운동,0.00,0.00,0.0,0.00,0.00,0.12,...,0,0,0,0,1,0,0,0,0,1
3,3,서울특별시 종로구 신교동,종로구,신교동,0.00,0.00,0.0,0.00,0.13,0.00,...,0,0,0,1,0,0,0,0,0,1
4,4,서울특별시 종로구 궁정동,종로구,궁정동,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,서울특별시 강동구 둔촌동,강동구,둔촌동,3.33,0.00,0.0,0.85,0.67,0.88,...,0,0,4,5,7,0,0,0,0,17
489,489,서울특별시 강동구 암사동,강동구,암사동,0.00,1.25,0.0,1.06,1.73,1.75,...,1,0,5,13,14,1,0,0,0,34
490,490,서울특별시 강동구 성내동,강동구,성내동,3.33,1.25,10.0,2.55,2.67,3.00,...,1,3,12,20,24,4,1,1,0,67
491,491,서울특별시 강동구 천호동,강동구,천호동,3.33,1.25,0.0,4.68,2.93,3.12,...,1,0,22,22,25,2,0,0,1,74
492,492,서울특별시 강동구 강일동,강동구,강일동,0.00,1.25,0.0,0.64,0.53,0.62,...,1,0,3,4,5,0,0,0,0,13

In [91]:
last = pd.concat([base_data,res], axis=1)

In [92]:
last

,Unnamed: 0,address,gu,dong,mac_score,lot_score,burgerking_score,seveneleven_score,cu_score,gs25_score,...,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count,first,second,third
0,0,서울특별시,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,None,None,None
1,1,서울특별시 종로구,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,None,None,None
2,2,서울특별시 종로구 청운동,종로구,청운동,0.00,0.00,0.0,0.00,0.00,0.12,...,0,1,0,0,0,0,1,서울특별시 종로구 재동,서울특별시 종로구 종로3가,서울특별시 종로구 궁정동
3,3,서울특별시 종로구 신교동,종로구,신교동,0.00,0.00,0.0,0.00,0.13,0.00,...,1,0,0,0,0,0,1,서울특별시 종로구 송현동,서울특별시 종로구 권농동,서울특별시 종로구 원서동
4,4,서울특별시 종로구 궁정동,종로구,궁정동,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,서울특별시 종로구 가회동,서울특별시 종로구 와룡동,서울특별시 종로구 신문로1가
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,서울특별시 강동구 둔촌동,강동구,둔촌동,3.33,0.00,0.0,0.85,0.67,0.88,...,5,7,0,0,0,0,17,서울특별시 중랑구 면목동,서울특별시 금천구 시흥동,서울특별시 광진구 능동
489,489,서울특별시 강동구 암사동,강동구,암사동,0.00,1.25,0.0,1.06,1.73,1.75,...,13,14,1,0,0,0,34,서울특별시 중랑구 중화동,서울특별시 서초구 방배동,서울특별시 강서구 염창동
490,490,서울특별시 강동구 성내동,강동구,성내동,3.33,1.25,10.0,2.55,2.67,3.00,...,20,24,4,1,1,0,67,서울특별시 광진구 광장동,서울특별시 노원구 하계동,서울특별시 마포구 성산동
491,491,서울특별시 강동구 천호동,강동구,천호동,3.33,1.25,0.0,4.68,2.93,3.12,...,22,25,2,0,0,1,74,서울특별시 서초구 원지동,서울특별시 마포구 도화동,서울특별시 중랑구 신내동
492,492,서울특별시 강동구 강일동,강동구,강일동,0.00,1.25,0.0,0.64,0.53,0.62,...,4,5,0,0,0,0,13,서울특별시 강북구 수유동,서울특별시 서초구 우면동,서울특별시 구로구 고척동

In [ ]:
# predict.to_csv("kmeans.txt", mode="w")
last.to_csv("last_data.")

In [7]:
# r = pd.concat([address, predict], axis=1)

In [8]:
# r

In [9]:
# numbering = r["법정동명"].groupby([r["predict"]])

In [10]:
# grouped = r['법정동명'].groupby(r['predict'])

In [11]:
# grouped.count()

In [12]:
# arr = []
# for i in range(len(r)):
#     print(r['predict'][i])