In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import interact
import scipy
from numpy import dot
from numpy.linalg import norm

from sklearn.metrics.pairwise import cosine_similarity
from sklearn import preprocessing
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [3]:
base_data = pd.read_csv('./최종 결과.txt', sep=",")
base_data

,id,address,gu,dong,mac_score,lot_score,burgerking_score,seveneleven_score,cu_score,gs25_score,...,lot_count,burgerking_count,seveneleven_count,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count
0,0,서울특별시,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
1,1,서울특별시 종로구,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
2,2,서울특별시 종로구 청운동,종로구,청운동,0.00,0.00,0.0,0.00,0.00,0.12,...,0,0,0,0,1,0,0,0,0,1
3,3,서울특별시 종로구 신교동,종로구,신교동,0.00,0.00,0.0,0.00,0.13,0.00,...,0,0,0,1,0,0,0,0,0,1
4,4,서울특별시 종로구 궁정동,종로구,궁정동,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,서울특별시 강동구 둔촌동,강동구,둔촌동,3.33,0.00,0.0,0.85,0.67,0.88,...,0,0,4,5,7,0,0,0,0,17
489,489,서울특별시 강동구 암사동,강동구,암사동,0.00,1.25,0.0,1.06,1.73,1.75,...,1,0,5,13,14,1,0,0,0,34
490,490,서울특별시 강동구 성내동,강동구,성내동,3.33,1.25,10.0,2.55,2.67,3.00,...,1,3,12,20,24,4,1,1,0,67
491,491,서울특별시 강동구 천호동,강동구,천호동,3.33,1.25,0.0,4.68,2.93,3.12,...,1,0,22,22,25,2,0,0,1,74
492,492,서울특별시 강동구 강일동,강동구,강일동,0.00,1.25,0.0,0.64,0.53,0.62,...,1,0,3,4,5,0,0,0,0,13

In [4]:
feature = base_data[['mac_score','lot_score','burgerking_score','starbucks_score','cu_score','gs25_score','seveneleven_score','lottecinema_score','megabox_score','cgv_score','total_score','high_oil', 'oil', 'oil2','total', 'catch', 'percent', 'mac_count','lot_count','burgerking_count','seveneleven_count','cu_count','gs25_count','starbucks_count','lottecinema_count','megabox_count','cgv_count','total_count']]
feature
# model = KMeans(n_clusters=15, algorithm='auto')
# model.fit(feature)
# predict = pd.DataFrame(model.predict(feature))
# predict.columns=['predict']

# predict

,mac_score,lot_score,burgerking_score,starbucks_score,cu_score,gs25_score,seveneleven_score,lottecinema_score,megabox_score,cgv_score,...,lot_count,burgerking_count,seveneleven_count,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count
0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.00,0.00,0.0,0.00,0.00,0.12,0.00,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,1
3,0.00,0.00,0.0,0.00,0.13,0.00,0.00,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,1
4,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,3.33,0.00,0.0,0.00,0.67,0.88,0.85,0.0,0.0,0.0,...,0,0,4,5,7,0,0,0,0,17
489,0.00,1.25,0.0,0.43,1.73,1.75,1.06,0.0,0.0,0.0,...,1,0,5,13,14,1,0,0,0,34
490,3.33,1.25,10.0,1.74,2.67,3.00,2.55,5.0,10.0,0.0,...,1,3,12,20,24,4,1,1,0,67
491,3.33,1.25,0.0,0.87,2.93,3.12,4.68,0.0,0.0,5.0,...,1,0,22,22,25,2,0,0,1,74
492,0.00,1.25,0.0,0.00,0.53,0.62,0.64,0.0,0.0,0.0,...,1,0,3,4,5,0,0,0,0,13

In [5]:
feature_cos_sim = cosine_similarity(feature)

In [6]:
rounded_test_data_cos_sim = pd.DataFrame(feature_cos_sim, index=feature.index, columns=feature.index).apply(lambda x: round(x, 2))

In [7]:
rounded_test_data_cos_sim

,0,1,2,3,4,5,6,7,8,9,...,483,484,485,486,487,488,489,490,491,492
0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.0,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.0,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.0,0.84,0.98,0.90,0.79,0.84,0.84,0.85,0.89,0.89
3,0.0,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.0,0.84,0.98,0.90,0.79,0.84,0.84,0.85,0.89,0.89
4,0.0,0.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,0.0,0.84,0.98,0.90,0.79,0.84,0.84,0.85,0.89,0.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,0.0,0.0,0.84,0.84,0.84,0.84,0.84,0.84,0.84,0.84,...,0.0,1.00,0.86,0.94,1.00,1.00,1.00,1.00,0.94,0.94
489,0.0,0.0,0.84,0.84,0.84,0.84,0.84,0.84,0.84,0.84,...,0.0,1.00,0.85,0.94,1.00,1.00,1.00,1.00,0.94,0.94
490,0.0,0.0,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,...,0.0,1.00,0.86,0.95,0.99,1.00,1.00,1.00,0.95,0.95
491,0.0,0.0,0.89,0.89,0.89,0.89,0.89,0.89,0.89,0.89,...,0.0,0.94,0.91,1.00,0.92,0.94,0.94,0.95,1.00,1.00
492,0.0,0.0,0.89,0.89,0.89,0.89,0.89,0.89,0.89,0.89,...,0.0,0.94,0.91,1.00,0.92,0.94,0.94,0.95,1.00,1.00

In [8]:
address = pd.read_csv('../data_gdr/1-2. 서울 법정동 주소목록(최종).txt', sep=",")

In [9]:
address["gu"] = address.apply(lambda x:x["법정동명"].split()[1] if len(x["법정동명"].split())==3 else "",axis=1)
address["dong"] = address.apply(lambda x:x["법정동명"].split()[2] if len(x["법정동명"].split())==3 else "",axis=1)
address

              법정동명   gu dong
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동  종로구  청운동
3    서울특별시 종로구 신교동  종로구  신교동
4    서울특별시 종로구 궁정동  종로구  궁정동
..             ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동
489  서울특별시 강동구 암사동  강동구  암사동
490  서울특별시 강동구 성내동  강동구  성내동
491  서울특별시 강동구 천호동  강동구  천호동
492  서울특별시 강동구 강일동  강동구  강일동

[493 rows x 3 columns]

In [18]:
# address['법정동명'][2].split()
address['법정동명'][2]

'서울특별시 종로구 청운동'

In [49]:
import random
res = pd.DataFrame(columns=('first', 'second', 'third'))
res
for i in range(len(rounded_test_data_cos_sim)):
    arr = []
    for j in range(len(rounded_test_data_cos_sim[i])):
        if i != j and rounded_test_data_cos_sim[i][j]:
            arr.append([rounded_test_data_cos_sim[i][j], address['법정동명'][j].split()[2]])
#     print(sorted(arr, key=lambda x: x[0], reverse=True)[:3])
#     print(arr)
    
    arr = sorted(arr, key=lambda x:x[0], reverse=True)
    if i == 405:
        print(arr)
    if i==455:
        print(arr)
    if arr:
        res.loc[i] = [arr[0][1],arr[1][1],arr[2][1]]
    else:
        res.loc[i] = [None,None,None]
res

[[1.0, '신정동'], [1.0, '성산동'], [1.0, '염창동'], [1.0, '화곡동'], [1.0, '가양동'], [1.0, '마곡동'], [1.0, '내발산동'], [1.0, '외발산동'], [1.0, '방화동'], [1.0, '신도림동'], [1.0, '구로동'], [1.0, '여의도동'], [1.0, '당산동'], [1.0, '문래동2가'], [1.0, '신길동'], [1.0, '봉천동'], [1.0, '신림동'], [1.0, '잠원동'], [1.0, '반포동'], [1.0, '내곡동'], [1.0, '역삼동'], [1.0, '개포동'], [1.0, '청담동'], [1.0, '삼성동'], [1.0, '대치동'], [1.0, '신사동'], [1.0, '논현동'], [1.0, '일원동'], [1.0, '수서동'], [1.0, '도곡동'], [1.0, '잠실동'], [1.0, '송파동'], [1.0, '석촌동'], [1.0, '삼전동'], [1.0, '가락동'], [1.0, '문정동'], [1.0, '장지동'], [1.0, '방이동'], [1.0, '오금동'], [0.99, '중곡동'], [0.99, '능동'], [0.99, '광장동'], [0.99, '자양동'], [0.99, '용두동'], [0.99, '면목동'], [0.99, '중화동'], [0.99, '공릉동'], [0.99, '응암동'], [0.99, '대흥동'], [0.99, '창전동'], [0.99, '방배동'], [0.99, '양재동'], [0.99, '서초동'], [0.99, '성내동'], [0.98, '화양동'], [0.98, '장안동'], [0.98, '휘경동'], [0.98, '미아동'], [0.98, '번동'], [0.98, '하계동'], [0.98, '녹번동'], [0.98, '신사동'], [0.98, '진관동'], [0.98, '신정동'], [0.98, '목동'], [0.98, '신월동'], [0.98, '시흥동'], [0.98, '명일동'], [0.98, '둔촌동'], [0.98, '암사동'], [0.97, '평창동'], [0.97, '부암동'], [0.97, '홍지동'], [0.97, '신당동'], [0.97, '한강로3가'], [0.97, '군자동'], [0.97, '상봉동'], [0.97, '묵동'], [0.97, '망우동'], [0.97, '신내동'], [0.97, '정릉동'], [0.97, '길음동'], [0.97, '종암동'], [0.97, '하월곡동'], [0.97, '월계동'], [0.97, '중계동'], [0.97, '공덕동'], [0.97, '도화동'], [0.97, '용강동'], [0.97, '합정동'], [0.97, '망원동'], [0.97, '등촌동'], [0.97, '공항동'], [0.97, '개화동'], [0.97, '오곡동'], [0.97, '가리봉동'], [0.97, '고척동'], [0.97, '개봉동'], [0.97, '오류동'], [0.97, '궁동'], [0.97, '온수동'], [0.97, '항동'], [0.97, '영등포동'], [0.97, '영등포동7가'], [0.97, '도림동'], [0.97, '문래동3가'], [0.97, '양평동1가'], [0.97, '양평동3가'], [0.97, '양평동4가'], [0.97, '양평동5가'], [0.97, '대림동'], [0.97, '대방동'], [0.97, '남현동'], [0.97, '우면동'], [0.97, '원지동'], [0.97, '세곡동'], [0.97, '자곡동'], [0.97, '풍납동'], [0.97, '거여동'], [0.97, '마천동'], [0.97, '상일동'], [0.97, '길동'], [0.96, '필동2가'], [0.96, '초동'], [0.96, '무학동'], [0.96, '청암동'], [0.96, '이촌동'], [0.96, '구의동'], [0.96, '신설동'], [0.96, '제기동'], [0.96, '전농동'], [0.96, '답십리동'], [0.96, '청량리동'], [0.96, '이문동'], [0.96, '보문동5가'], [0.96, '장위동'], [0.96, '수유동'], [0.96, '상계동'], [0.96, '수색동'], [0.96, '불광동'], [0.96, '갈현동'], [0.96, '증산동'], [0.96, '가산동'], [0.96, '독산동'], [0.96, '상도동'], [0.96, '신대방동'], [0.96, '천호동'], [0.96, '강일동'], [0.95, '사직동'], [0.95, '중학동'], [0.95, '혜화동'], [0.95, '남대문로5가'], [0.95, '장충동1가'], [0.95, '후암동'], [0.95, '갈월동'], [0.95, '서계동'], [0.95, '원효로2가'], [0.95, '원효로3가'], [0.95, '서빙고동'], [0.95, '안암동5가'], [0.95, '보문동1가'], [0.95, '상월곡동'], [0.95, '석관동'], [0.95, '홍제동'], [0.95, '창천동'], [0.95, '연희동'], [0.95, '노량진동'], [0.95, '사당동'], [0.94, '경운동'], [0.94, '봉래동1가'], [0.94, '동자동'], [0.94, '한남동'], [0.94, '홍은동'], [0.94, '남가좌동'], [0.94, '흑석동'], [0.93, '무교동'], [0.93, '다동'], [0.93, '태평로1가'], [0.93, '을지로1가'], [0.93, '을지로2가'], [0.93, '남대문로1가'], [0.93, '삼각동'], [0.93, '수하동'], [0.93, '장교동'], [0.93, '수표동'], [0.93, '소공동'], [0.93, '남창동'], [0.93, '북창동'], [0.93, '태평로2가'], [0.93, '남대문로2가'], [0.93, '남대문로3가'], [0.93, '남대문로4가'], [0.93, '봉래동2가'], [0.93, '회현동1가'], [0.93, '회현동2가'], [0.93, '회현동3가'], [0.93, '충무로1가'], [0.93, '충무로2가'], [0.93, '명동1가'], [0.93, '명동2가'], [0.93, '남산동1가'], [0.93, '남산동2가'], [0.93, '남산동3가'], [0.93, '저동1가'], [0.93, '충무로4가'], [0.93, '충무로5가'], [0.93, '인현동2가'], [0.93, '예관동'], [0.93, '묵정동'], [0.93, '필동1가'], [0.93, '필동3가'], [0.93, '남학동'], [0.93, '주자동'], [0.93, '예장동'], [0.93, '장충동2가'], [0.93, '광희동1가'], [0.93, '광희동2가'], [0.93, '쌍림동'], [0.93, '을지로6가'], [0.93, '을지로7가'], [0.93, '을지로4가'], [0.93, '을지로5가'], [0.93, '주교동'], [0.93, '방산동'], [0.93, '오장동'], [0.93, '을지로3가'], [0.93, '입정동'], [0.93, '산림동'], [0.93, '충무로3가'], [0.93, '인현동1가'], [0.93, '저동2가'], [0.93, '흥인동'], [0.93, '황학동'], [0.93, '서소문동'], [0.93, '정동'], [0.93, '순화동'], [0.93, '의주로1가'], [0.93, '충정로1가'], [0.93, '중림동'], [0.93, '의주로2가'], [0.93, '만리동1가'], [0.93, '만리동2가'], [0.93, '용산동2가'], [0.93, '용산동4가'], [0.93, '남영동'], [0.93, '용산동1가'], [0.93, '청파동1가'], [0.93, '청파동2가'], [0.93, '청파동3가'], [0.93, '원효로1가'], [0.93, '신창동'], [0.93, '산천동'], [0.93, '원효로4가'], [0.93, '효창동'], [0.93, '도원동'], [0.93, '용문동'], [0.93, '문배동'], [0.93, '신계동'], [0.93, '한강로1가'], [0.93, '한강로2가'], [0.93, '용산동3가'], [0.93, '용산동5가'], [0.93, '이태원동'], [0.93, '동빙고동'], [0.93, '주성동'], [0.93, '용산동6가'], [0.93, '보광동'], [0.93, '상왕십리동'], [0.93, '홍익동'], [0.93, '사근동'], [0.93, '행당동'], [0.93, '응봉동'], [0.93, '금호동1가'], [0.93, '금호동2가'], [0.93, '금호동3가'], [0.93, '송정동'], [0.93, '용답동'], [0.93, '회기동'], [0.93, '성북동'], [0.93, '성북동1가'], [0.93, '돈암동'], [0.93, '동소문동1가'], [0.93, '동소문동2가'], [0.93, '동소문동3가'], [0.93, '동소문동4가'], [0.93, '동소문동5가'], [0.93, '동소문동6가'], [0.93, '동소문동7가'], [0.93, '삼선동2가'], [0.93, '삼선동3가'], [0.93, '삼선동4가'], [0.93, '삼선동5가'], [0.93, '동선동1가'], [0.93, '동선동2가'], [0.93, '동선동3가'], [0.93, '동선동4가'], [0.93, '동선동5가'], [0.93, '안암동1가'], [0.93, '안암동2가'], [0.93, '안암동3가'], [0.93, '안암동4가'], [0.93, '보문동4가'], [0.93, '보문동6가'], [0.93, '보문동7가'], [0.93, '보문동2가'], [0.93, '보문동3가'], [0.93, '우이동'], [0.93, '구산동'], [0.93, '대조동'], [0.93, '역촌동'], [0.93, '충정로2가'], [0.93, '충정로3가'], [0.93, '합동'], [0.93, '미근동'], [0.93, '냉천동'], [0.93, '천연동'], [0.93, '옥천동'], [0.93, '영천동'], [0.93, '현저동'], [0.93, '북아현동'], [0.93, '대현동'], [0.93, '신촌동'], [0.93, '봉원동'], [0.93, '북가좌동'], [0.93, '아현동'], [0.93, '신공덕동'], [0.93, '토정동'], [0.93, '마포동'], [0.93, '염리동'], [0.93, '노고산동'], [0.93, '신수동'], [0.93, '현석동'], [0.93, '구수동'], [0.93, '상수동'], [0.93, '하중동'], [0.93, '당인동'], [0.93, '서교동'], [0.93, '동교동'], [0.93, '연남동'], [0.93, '중동'], [0.93, '상암동'], [0.93, '과해동'], [0.93, '오쇠동'], [0.93, '천왕동'], [0.93, '영등포동1가'], [0.93, '영등포동2가'], [0.93, '영등포동3가'], [0.93, '영등포동4가'], [0.93, '영등포동5가'], [0.93, '영등포동6가'], [0.93, '영등포동8가'], [0.93, '당산동2가'], [0.93, '당산동3가'], [0.93, '당산동4가'], [0.93, '당산동5가'], [0.93, '당산동6가'], [0.93, '문래동1가'], [0.93, '문래동4가'], [0.93, '문래동5가'], [0.93, '문래동6가'], [0.93, '양평동2가'], [0.93, '양평동6가'], [0.93, '양화동'], [0.93, '양평동'], [0.93, '상도1동'], [0.93, '본동'], [0.93, '동작동'], [0.93, '염곡동'], [0.93, '신원동'], [0.93, '압구정동'], [0.93, '율현동'], [0.93, '신천동'], [0.93, '고덕동'], [0.92, '도선동'], [0.92, '마장동'], [0.92, '성수동1가'], [0.92, '성수동2가'], [0.92, '쌍문동'], [0.92, '창동'], [0.92, '도봉동'], [0.91, '청운동'], [0.91, '신교동'], [0.91, '궁정동'], [0.91, '효자동'], [0.91, '창성동'], [0.91, '통의동'], [0.91, '적선동'], [0.91, '통인동'], [0.91, '누상동'], [0.91, '누하동'], [0.91, '옥인동'], [0.91, '체부동'], [0.91, '필운동'], [0.91, '내자동'], [0.91, '도렴동'], [0.91, '당주동'], [0.91, '내수동'], [0.91, '세종로'], [0.91, '신문로1가'], [0.91, '신문로2가'], [0.91, '청진동'], [0.91, '서린동'], [0.91, '수송동'], [0.91, '종로1가'], [0.91, '공평동'], [0.91, '관훈동'], [0.91, '견지동'], [0.91, '와룡동'], [0.91, '권농동'], [0.91, '운니동'], [0.91, '익선동'], [0.91, '관철동'], [0.91, '인사동'], [0.91, '낙원동'], [0.91, '종로2가'], [0.91, '팔판동'], [0.91, '삼청동'], [0.91, '안국동'], [0.91, '소격동'], [0.91, '화동'], [0.91, '사간동'], [0.91, '송현동'], [0.91, '가회동'], [0.91, '재동'], [0.91, '계동'], [0.91, '원서동'], [0.91, '훈정동'], [0.91, '묘동'], [0.91, '봉익동'], [0.91, '돈의동'], [0.91, '장사동'], [0.91, '관수동'], [0.91, '종로3가'], [0.91, '인의동'], [0.91, '예지동'], [0.91, '원남동'], [0.91, '연지동'], [0.91, '종로4가'], [0.91, '효제동'], [0.91, '종로5가'], [0.91, '종로6가'], [0.91, '이화동'], [0.91, '연건동'], [0.91, '충신동'], [0.91, '동숭동'], [0.91, '명륜1가'], [0.91, '명륜2가'], [0.91, '명륜4가'], [0.91, '명륜3가'], [0.91, '창신동'], [0.91, '숭인동'], [0.91, '교남동'], [0.91, '평동'], [0.91, '송월동'], [0.91, '홍파동'], [0.91, '교북동'], [0.91, '행촌동'], [0.91, '구기동'], [0.91, '신영동'], [0.91, '무악동'], [0.91, '삼선동1가'], [0.91, '방학동'], [0.91, '대신동'], [0.9, '금호동4가'], [0.89, '하왕십리동'], [0.88, '옥수동']]
[[1.0, '당산동1가'], [1.0, '문래동2가'], [1.0, '신길동'], [1.0, '개포동'], [1.0, '청담동'], [1.0, '삼성동'], [1.0, '대치동'], [1.0, '신사동'], [1.0, '논현동'], [1.0, '일원동'], [1.0, '수서동'], [1.0, '도곡동'], [1.0, '잠실동'], [1.0, '송파동'], [1.0, '석촌동'], [1.0, '삼전동'], [1.0, '가락동'], [1.0, '문정동'], [1.0, '장지동'], [1.0, '방이동'], [1.0, '오금동'], [0.99, '면목동'], [0.99, '대흥동'], [0.99, '신정동'], [0.99, '성산동'], [0.99, '염창동'], [0.99, '화곡동'], [0.99, '가양동'], [0.99, '마곡동'], [0.99, '내발산동'], [0.99, '외발산동'], [0.99, '방화동'], [0.99, '신도림동'], [0.99, '구로동'], [0.99, '여의도동'], [0.99, '당산동'], [0.99, '봉천동'], [0.99, '신림동'], [0.99, '방배동'], [0.99, '양재동'], [0.99, '잠원동'], [0.99, '반포동'], [0.99, '서초동'], [0.99, '내곡동'], [0.98, '중곡동'], [0.98, '능동'], [0.98, '광장동'], [0.98, '자양동'], [0.98, '용두동'], [0.98, '휘경동'], [0.98, '중화동'], [0.98, '공릉동'], [0.98, '응암동'], [0.98, '용강동'], [0.98, '창전동'], [0.98, '망원동'], [0.98, '등촌동'], [0.98, '개화동'], [0.98, '가리봉동'], [0.98, '고척동'], [0.98, '개봉동'], [0.98, '궁동'], [0.98, '온수동'], [0.98, '항동'], [0.98, '영등포동'], [0.98, '영등포동7가'], [0.98, '도림동'], [0.98, '문래동3가'], [0.98, '양평동1가'], [0.98, '양평동3가'], [0.98, '양평동4가'], [0.98, '양평동5가'], [0.98, '대림동'], [0.98, '남현동'], [0.98, '원지동'], [0.98, '세곡동'], [0.98, '자곡동'], [0.98, '풍납동'], [0.98, '거여동'], [0.98, '마천동'], [0.98, '성내동'], [0.97, '홍지동'], [0.97, '구의동'], [0.97, '화양동'], [0.97, '군자동'], [0.97, '제기동'], [0.97, '전농동'], [0.97, '답십리동'], [0.97, '장안동'], [0.97, '이문동'], [0.97, '상봉동'], [0.97, '묵동'], [0.97, '망우동'], [0.97, '신내동'], [0.97, '미아동'], [0.97, '번동'], [0.97, '월계동'], [0.97, '하계동'], [0.97, '중계동'], [0.97, '녹번동'], [0.97, '증산동'], [0.97, '진관동'], [0.97, '공덕동'], [0.97, '도화동'], [0.97, '합정동'], [0.97, '목동'], [0.97, '신월동'], [0.97, '공항동'], [0.97, '오곡동'], [0.97, '오류동'], [0.97, '시흥동'], [0.97, '우면동'], [0.97, '명일동'], [0.97, '상일동'], [0.97, '둔촌동'], [0.97, '암사동'], [0.96, '평창동'], [0.96, '부암동'], [0.96, '신당동'], [0.96, '한강로3가'], [0.96, '신설동'], [0.96, '청량리동'], [0.96, '종암동'], [0.96, '수유동'], [0.96, '상계동'], [0.96, '수색동'], [0.96, '불광동'], [0.96, '갈현동'], [0.96, '신사동'], [0.96, '신정동'], [0.96, '가산동'], [0.96, '독산동'], [0.96, '천호동'], [0.96, '강일동'], [0.95, '무교동'], [0.95, '다동'], [0.95, '태평로1가'], [0.95, '을지로1가'], [0.95, '을지로2가'], [0.95, '남대문로1가'], [0.95, '삼각동'], [0.95, '수하동'], [0.95, '장교동'], [0.95, '수표동'], [0.95, '소공동'], [0.95, '남창동'], [0.95, '북창동'], [0.95, '태평로2가'], [0.95, '남대문로2가'], [0.95, '남대문로3가'], [0.95, '남대문로4가'], [0.95, '봉래동2가'], [0.95, '회현동1가'], [0.95, '회현동2가'], [0.95, '회현동3가'], [0.95, '충무로1가'], [0.95, '충무로2가'], [0.95, '명동1가'], [0.95, '명동2가'], [0.95, '남산동1가'], [0.95, '남산동2가'], [0.95, '남산동3가'], [0.95, '저동1가'], [0.95, '충무로4가'], [0.95, '충무로5가'], [0.95, '인현동2가'], [0.95, '예관동'], [0.95, '묵정동'], [0.95, '필동1가'], [0.95, '필동3가'], [0.95, '남학동'], [0.95, '주자동'], [0.95, '예장동'], [0.95, '장충동2가'], [0.95, '광희동1가'], [0.95, '광희동2가'], [0.95, '쌍림동'], [0.95, '을지로6가'], [0.95, '을지로7가'], [0.95, '을지로4가'], [0.95, '을지로5가'], [0.95, '주교동'], [0.95, '방산동'], [0.95, '오장동'], [0.95, '을지로3가'], [0.95, '입정동'], [0.95, '산림동'], [0.95, '충무로3가'], [0.95, '인현동1가'], [0.95, '저동2가'], [0.95, '흥인동'], [0.95, '무학동'], [0.95, '황학동'], [0.95, '서소문동'], [0.95, '정동'], [0.95, '순화동'], [0.95, '의주로1가'], [0.95, '충정로1가'], [0.95, '중림동'], [0.95, '의주로2가'], [0.95, '만리동1가'], [0.95, '만리동2가'], [0.95, '용산동2가'], [0.95, '용산동4가'], [0.95, '남영동'], [0.95, '용산동1가'], [0.95, '청파동1가'], [0.95, '청파동2가'], [0.95, '청파동3가'], [0.95, '원효로1가'], [0.95, '신창동'], [0.95, '산천동'], [0.95, '원효로4가'], [0.95, '효창동'], [0.95, '도원동'], [0.95, '용문동'], [0.95, '문배동'], [0.95, '신계동'], [0.95, '한강로1가'], [0.95, '한강로2가'], [0.95, '용산동3가'], [0.95, '용산동5가'], [0.95, '이태원동'], [0.95, '동빙고동'], [0.95, '주성동'], [0.95, '용산동6가'], [0.95, '보광동'], [0.95, '상왕십리동'], [0.95, '홍익동'], [0.95, '사근동'], [0.95, '행당동'], [0.95, '응봉동'], [0.95, '금호동1가'], [0.95, '금호동2가'], [0.95, '금호동3가'], [0.95, '회기동'], [0.95, '성북동'], [0.95, '성북동1가'], [0.95, '돈암동'], [0.95, '동소문동1가'], [0.95, '동소문동2가'], [0.95, '동소문동3가'], [0.95, '동소문동4가'], [0.95, '동소문동5가'], [0.95, '동소문동6가'], [0.95, '동소문동7가'], [0.95, '삼선동2가'], [0.95, '삼선동3가'], [0.95, '삼선동4가'], [0.95, '삼선동5가'], [0.95, '동선동1가'], [0.95, '동선동2가'], [0.95, '동선동3가'], [0.95, '동선동4가'], [0.95, '동선동5가'], [0.95, '안암동1가'], [0.95, '안암동2가'], [0.95, '안암동3가'], [0.95, '안암동4가'], [0.95, '안암동5가'], [0.95, '보문동4가'], [0.95, '보문동6가'], [0.95, '보문동7가'], [0.95, '보문동1가'], [0.95, '보문동2가'], [0.95, '보문동3가'], [0.95, '정릉동'], [0.95, '길음동'], [0.95, '하월곡동'], [0.95, '상월곡동'], [0.95, '장위동'], [0.95, '석관동'], [0.95, '우이동'], [0.95, '구산동'], [0.95, '대조동'], [0.95, '역촌동'], [0.95, '충정로2가'], [0.95, '충정로3가'], [0.95, '합동'], [0.95, '미근동'], [0.95, '냉천동'], [0.95, '천연동'], [0.95, '옥천동'], [0.95, '영천동'], [0.95, '현저동'], [0.95, '북아현동'], [0.95, '대현동'], [0.95, '신촌동'], [0.95, '봉원동'], [0.95, '북가좌동'], [0.95, '아현동'], [0.95, '신공덕동'], [0.95, '토정동'], [0.95, '마포동'], [0.95, '염리동'], [0.95, '노고산동'], [0.95, '신수동'], [0.95, '현석동'], [0.95, '구수동'], [0.95, '상수동'], [0.95, '하중동'], [0.95, '당인동'], [0.95, '서교동'], [0.95, '동교동'], [0.95, '연남동'], [0.95, '중동'], [0.95, '상암동'], [0.95, '과해동'], [0.95, '오쇠동'], [0.95, '천왕동'], [0.95, '영등포동1가'], [0.95, '영등포동2가'], [0.95, '영등포동3가'], [0.95, '영등포동4가'], [0.95, '영등포동5가'], [0.95, '영등포동6가'], [0.95, '영등포동8가'], [0.95, '당산동2가'], [0.95, '당산동3가'], [0.95, '당산동4가'], [0.95, '당산동5가'], [0.95, '당산동6가'], [0.95, '문래동1가'], [0.95, '문래동4가'], [0.95, '문래동5가'], [0.95, '문래동6가'], [0.95, '양평동2가'], [0.95, '양평동6가'], [0.95, '양화동'], [0.95, '양평동'], [0.95, '상도동'], [0.95, '상도1동'], [0.95, '본동'], [0.95, '동작동'], [0.95, '사당동'], [0.95, '대방동'], [0.95, '염곡동'], [0.95, '신원동'], [0.95, '압구정동'], [0.95, '율현동'], [0.95, '신천동'], [0.95, '고덕동'], [0.95, '길동'], [0.94, '사직동'], [0.94, '중학동'], [0.94, '경운동'], [0.94, '혜화동'], [0.94, '필동2가'], [0.94, '장충동1가'], [0.94, '초동'], [0.94, '원효로2가'], [0.94, '청암동'], [0.94, '원효로3가'], [0.94, '이촌동'], [0.94, '보문동5가'], [0.94, '홍은동'], [0.94, '남가좌동'], [0.94, '노량진동'], [0.94, '흑석동'], [0.94, '신대방동'], [0.93, '청운동'], [0.93, '신교동'], [0.93, '궁정동'], [0.93, '효자동'], [0.93, '창성동'], [0.93, '통의동'], [0.93, '적선동'], [0.93, '통인동'], [0.93, '누상동'], [0.93, '누하동'], [0.93, '옥인동'], [0.93, '체부동'], [0.93, '필운동'], [0.93, '내자동'], [0.93, '도렴동'], [0.93, '당주동'], [0.93, '내수동'], [0.93, '세종로'], [0.93, '신문로1가'], [0.93, '신문로2가'], [0.93, '청진동'], [0.93, '서린동'], [0.93, '수송동'], [0.93, '종로1가'], [0.93, '공평동'], [0.93, '관훈동'], [0.93, '견지동'], [0.93, '와룡동'], [0.93, '권농동'], [0.93, '운니동'], [0.93, '익선동'], [0.93, '관철동'], [0.93, '인사동'], [0.93, '낙원동'], [0.93, '종로2가'], [0.93, '팔판동'], [0.93, '삼청동'], [0.93, '안국동'], [0.93, '소격동'], [0.93, '화동'], [0.93, '사간동'], [0.93, '송현동'], [0.93, '가회동'], [0.93, '재동'], [0.93, '계동'], [0.93, '원서동'], [0.93, '훈정동'], [0.93, '묘동'], [0.93, '봉익동'], [0.93, '돈의동'], [0.93, '장사동'], [0.93, '관수동'], [0.93, '종로3가'], [0.93, '인의동'], [0.93, '예지동'], [0.93, '원남동'], [0.93, '연지동'], [0.93, '종로4가'], [0.93, '효제동'], [0.93, '종로5가'], [0.93, '종로6가'], [0.93, '이화동'], [0.93, '연건동'], [0.93, '충신동'], [0.93, '동숭동'], [0.93, '명륜1가'], [0.93, '명륜2가'], [0.93, '명륜4가'], [0.93, '명륜3가'], [0.93, '창신동'], [0.93, '숭인동'], [0.93, '교남동'], [0.93, '평동'], [0.93, '송월동'], [0.93, '홍파동'], [0.93, '교북동'], [0.93, '행촌동'], [0.93, '구기동'], [0.93, '신영동'], [0.93, '무악동'], [0.93, '남대문로5가'], [0.93, '후암동'], [0.93, '갈월동'], [0.93, '서계동'], [0.93, '서빙고동'], [0.93, '송정동'], [0.93, '홍제동'], [0.93, '창천동'], [0.93, '연희동'], [0.92, '봉래동1가'], [0.92, '동자동'], [0.92, '한남동'], [0.92, '도선동'], [0.92, '마장동'], [0.91, '용답동'], [0.91, '쌍문동'], [0.91, '창동'], [0.9, '금호동4가'], [0.9, '성수동1가'], [0.9, '성수동2가'], [0.9, '삼선동1가'], [0.9, '도봉동'], [0.89, '방학동'], [0.89, '대신동'], [0.88, '하왕십리동'], [0.86, '옥수동']]

    first second third
0    None   None  None
1    None   None  None
2     신교동    궁정동   효자동
3     청운동    궁정동   효자동
4     청운동    신교동   효자동
..    ...    ...   ...
488   신당동  한강로3가   중곡동
489   신당동  한강로3가   중곡동
490   신당동  한강로3가   중곡동
491   무학동    구의동   군자동
492   무학동    구의동   군자동

[493 rows x 3 columns]

In [11]:
# predict.to_csv("kmeans.txt", mode="w")
# final = pd.concat([address, res], axis=1)
# final

In [29]:
address

              법정동명   gu dong
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동  종로구  청운동
3    서울특별시 종로구 신교동  종로구  신교동
4    서울특별시 종로구 궁정동  종로구  궁정동
..             ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동
489  서울특별시 강동구 암사동  강동구  암사동
490  서울특별시 강동구 성내동  강동구  성내동
491  서울특별시 강동구 천호동  강동구  천호동
492  서울특별시 강동구 강일동  강동구  강일동

[493 rows x 3 columns]

In [30]:
last = pd.concat([base_data,res], axis=1)

In [31]:
last

,id,address,gu,dong,mac_score,lot_score,burgerking_score,seveneleven_score,cu_score,gs25_score,...,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count,first,second,third
0,0,서울특별시,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,None,None,None
1,1,서울특별시 종로구,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,None,None,None
2,2,서울특별시 종로구 청운동,종로구,청운동,0.00,0.00,0.0,0.00,0.00,0.12,...,0,1,0,0,0,0,1,신교동,궁정동,효자동
3,3,서울특별시 종로구 신교동,종로구,신교동,0.00,0.00,0.0,0.00,0.13,0.00,...,1,0,0,0,0,0,1,청운동,궁정동,효자동
4,4,서울특별시 종로구 궁정동,종로구,궁정동,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,청운동,신교동,효자동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,서울특별시 강동구 둔촌동,강동구,둔촌동,3.33,0.00,0.0,0.85,0.67,0.88,...,5,7,0,0,0,0,17,신당동,한강로3가,중곡동
489,489,서울특별시 강동구 암사동,강동구,암사동,0.00,1.25,0.0,1.06,1.73,1.75,...,13,14,1,0,0,0,34,신당동,한강로3가,중곡동
490,490,서울특별시 강동구 성내동,강동구,성내동,3.33,1.25,10.0,2.55,2.67,3.00,...,20,24,4,1,1,0,67,신당동,한강로3가,중곡동
491,491,서울특별시 강동구 천호동,강동구,천호동,3.33,1.25,0.0,4.68,2.93,3.12,...,22,25,2,0,0,1,74,무학동,구의동,군자동
492,492,서울특별시 강동구 강일동,강동구,강일동,0.00,1.25,0.0,0.64,0.53,0.62,...,4,5,0,0,0,0,13,무학동,구의동,군자동

In [32]:
last.loc[2]['address']

'서울특별시 종로구 청운동'

In [33]:
# predict.to_csv("kmeans.txt", mode="w")
last.to_csv("last_data.txt", mode="w")

In [34]:
map_data = pd.read_csv('./latlng.bdong.txt', sep="\t",header=None)
map_data

              0     1      2    3    4   5                     6
0    1111010100   296  서울특별시  종로구  청운동 NaN  37.587111,126.969069
1    1111010200   178  서울특별시  종로구  신교동 NaN  37.583911,126.968354
2    1111010300    20  서울특별시  종로구  궁정동 NaN  37.584381,126.971489
3    1111010400   131  서울특별시  종로구  효자동 NaN  37.582416,126.971670
4    1111010500   126  서울특별시  종로구  창성동 NaN  37.580363,126.972065
..          ...   ...    ...  ...  ...  ..                   ...
462  1174010600  1132  서울특별시  강동구  둔촌동 NaN  37.531157,127.142891
463  1174010700  2760  서울특별시  강동구  암사동 NaN  37.552497,127.133010
464  1174010800  3963  서울특별시  강동구  성내동 NaN  37.531338,127.129174
465  1174010900  5861  서울특별시  강동구  천호동 NaN  37.543676,127.131748
466  1174011000   122  서울특별시  강동구  강일동 NaN  37.569204,127.171620

[467 rows x 7 columns]

In [35]:
arr_x = []
arr_y = []
for i in map_data[6]:
    k = i.split(',')
    arr_x.append(k[0])
    arr_y.append(k[1])
map_data['x'] = arr_x
map_data['y'] = arr_y
map_data

,0,1,2,3,4,5,6,x,y
0,1111010100,296,서울특별시,종로구,청운동,NaN,"37.587111,126.969069",37.587111,126.969069
1,1111010200,178,서울특별시,종로구,신교동,NaN,"37.583911,126.968354",37.583911,126.968354
2,1111010300,20,서울특별시,종로구,궁정동,NaN,"37.584381,126.971489",37.584381,126.971489
3,1111010400,131,서울특별시,종로구,효자동,NaN,"37.582416,126.971670",37.582416,126.971670
4,1111010500,126,서울특별시,종로구,창성동,NaN,"37.580363,126.972065",37.580363,126.972065
...,...,...,...,...,...,...,...,...,...
462,1174010600,1132,서울특별시,강동구,둔촌동,NaN,"37.531157,127.142891",37.531157,127.142891
463,1174010700,2760,서울특별시,강동구,암사동,NaN,"37.552497,127.133010",37.552497,127.133010
464,1174010800,3963,서울특별시,강동구,성내동,NaN,"37.531338,127.129174",37.531338,127.129174
465,1174010900,5861,서울특별시,강동구,천호동,NaN,"37.543676,127.131748",37.543676,127.131748
466,1174011000,122,서울특별시,강동구,강일동,NaN,"37.569204,127.171620",37.569204,127.171620

In [36]:
del map_data[0]
del map_data[1]
del map_data[2]
del map_data[3]
del map_data[5]
del map_data[6]
map_data

       4          x           y
0    청운동  37.587111  126.969069
1    신교동  37.583911  126.968354
2    궁정동  37.584381  126.971489
3    효자동  37.582416  126.971670
4    창성동  37.580363  126.972065
..   ...        ...         ...
462  둔촌동  37.531157  127.142891
463  암사동  37.552497  127.133010
464  성내동  37.531338  127.129174
465  천호동  37.543676  127.131748
466  강일동  37.569204  127.171620

[467 rows x 3 columns]

In [37]:
last

,id,address,gu,dong,mac_score,lot_score,burgerking_score,seveneleven_score,cu_score,gs25_score,...,cu_count,gs25_count,starbucks_count,lottecinema_count,megabox_count,cgv_count,total_count,first,second,third
0,0,서울특별시,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,None,None,None
1,1,서울특별시 종로구,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,None,None,None
2,2,서울특별시 종로구 청운동,종로구,청운동,0.00,0.00,0.0,0.00,0.00,0.12,...,0,1,0,0,0,0,1,신교동,궁정동,효자동
3,3,서울특별시 종로구 신교동,종로구,신교동,0.00,0.00,0.0,0.00,0.13,0.00,...,1,0,0,0,0,0,1,청운동,궁정동,효자동
4,4,서울특별시 종로구 궁정동,종로구,궁정동,0.00,0.00,0.0,0.00,0.00,0.00,...,0,0,0,0,0,0,0,청운동,신교동,효자동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,서울특별시 강동구 둔촌동,강동구,둔촌동,3.33,0.00,0.0,0.85,0.67,0.88,...,5,7,0,0,0,0,17,신당동,한강로3가,중곡동
489,489,서울특별시 강동구 암사동,강동구,암사동,0.00,1.25,0.0,1.06,1.73,1.75,...,13,14,1,0,0,0,34,신당동,한강로3가,중곡동
490,490,서울특별시 강동구 성내동,강동구,성내동,3.33,1.25,10.0,2.55,2.67,3.00,...,20,24,4,1,1,0,67,신당동,한강로3가,중곡동
491,491,서울특별시 강동구 천호동,강동구,천호동,3.33,1.25,0.0,4.68,2.93,3.12,...,22,25,2,0,0,1,74,무학동,구의동,군자동
492,492,서울특별시 강동구 강일동,강동구,강일동,0.00,1.25,0.0,0.64,0.53,0.62,...,4,5,0,0,0,0,13,무학동,구의동,군자동

In [38]:
arr_first_x = []
arr_first_y = []
for m in last['first']:
    if m != None:
        for n in range(len(map_data.index)):
            if m == map_data.loc[n][4]:
                arr_first_x.append(map_data.loc[n]['x'])
                arr_first_y.append(map_data.loc[n]['y'])
                break
    else:
        arr_first_x.append(None)
        arr_first_y.append(None)

In [39]:
arr_second_x = []
arr_second_y = []
for m in last['second']:
    if m != None:
        for n in range(len(map_data.index)):
            if m == map_data.loc[n][4]:
                arr_second_x.append(map_data.loc[n]['x'])
                arr_second_y.append(map_data.loc[n]['y'])
                break
    else:
        arr_second_x.append(None)
        arr_second_y.append(None)
print(arr_second_x)
print(arr_second_y)

[None, None, '37.584381', '37.584381', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.587955', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.587955', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.584134', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.575301', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.583911', '37.575301', '37.600310', '37.594148', '37.583911', '37.583911', None, '37.568174', '37.568174', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.558960', '37.558960', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.558687', '37.567577', '37.567577', '37.567577', '37.567577', '37.558687', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.558687', '37.567577', '37.567577', '37.558687', '37.567577', '37.553878', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', None, '37.558687', '37.567577', '37.567577', '37.558687', '37.567577', '37.567577', '37.558687', '37.558687', '37.567577', '37.567577', '37.567577', '37.567577', '37.558687', '37.567577', '37.567577', '37.558687', '37.558687', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.558960', '37.558687', '37.567577', '37.558687', '37.567577', '37.558687', '37.567577', '37.567577', '37.567577', None, '37.567577', '37.567305', '37.567577', '37.567305', '37.563897', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.563897', '37.541123', '37.549171', '37.549171', '37.567305', '37.558687', None, '37.553729', '37.561882', '37.553878', '37.524659', '37.524659', '37.524659', '37.544655', None, '37.544655', '37.561882', '37.553878', '37.553878', '37.553878', '37.561882', '37.544655', '37.567577', '37.561882', '37.553878', None, '37.553729', '37.553878', '37.553729', '37.553878', '37.553878', '37.553878', None, '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.563897', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.552124', '37.567577', '37.558687', '37.567577', '37.567577', '37.552124', '37.567577', '37.567577', '37.558687', '37.558687', '37.558960', '37.558687', '37.552124', '37.558687', '37.552124', None, '37.535040', '37.524659', '37.544655', '37.567577', None, '37.563897', '37.533889', '37.563897', '37.549171', None, '37.544655', '37.561882', '37.535040', '37.544655', '37.544655', None, '37.553878', '37.561882', '37.544655', '37.544655', '37.567577', '37.567577', '37.561882', '37.567577', '37.535040', '37.553878', '37.524659', None, '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.558687', '37.567577', '37.549171', '37.567577', '37.567577', '37.558687', '37.558687', '37.563897', '37.567577', '37.563897', None, '37.567577', '37.544655', '37.567577', '37.544655', '37.553878', '37.567577', '37.567577', '37.553729', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.553729', '37.567577', '37.567577', '37.553729', '37.567577', '37.567577', '37.567577', '37.553878', '37.553878', '37.567577', '37.553729', '37.567577', '37.567577', None, '37.558960', '37.535040', '37.524659', None, '37.553729', '37.553878', '37.553729', '37.553729', '37.553729', '37.553729', '37.553729', '37.553878', '37.553729', '37.553878', '37.567577', '37.553878', '37.567577', None, '37.553729', '37.553729', '37.553878', '37.553878', '37.553878', '37.553878', '37.553878', '37.553878', '37.567577', '37.553878', None, '37.544655', '37.544655', '37.535040', None, '37.611266', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.596267', '37.567577', '37.553729', '37.563317', '37.567577', '37.567577', '37.567577', '37.567577', '37.567577', '37.553729', '37.596678', '37.567577', '37.563317', '37.596267', '37.567577', '37.567577', '37.567577', '37.611266', '37.567577', '37.611266', '37.611266', '37.611266', '37.567577', '37.567577', '37.563317', '37.611266', '37.567577', None, '37.563897', '37.558687', '37.567577', '37.567577', '37.563897', '37.567577', '37.563897', '37.558687', '37.558687', None, '37.553729', '37.553729', '37.553878', None, '37.553729', '37.553729', '37.553878', '37.553878', '37.553729', '37.553729', '37.553729', '37.553729', '37.567577', '37.567577', None, '37.513290', '37.509454', '37.538358', '37.538358', '37.538358', '37.513290', '37.538358', '37.567577', '37.524619', '37.484059', '37.567577', '37.509454', '37.513290', '37.513290', None, '37.563317', '37.567577', '37.553878', '37.563317', '37.544210', '37.563317', '37.551055', '37.551055', '37.551055', '37.551055', '37.551055', '37.611266', '37.611266', None, '37.524659', '37.567577', '37.544655', '37.558687', '37.524659', '37.524659', '37.524659', '37.544655', '37.544655']
[None, None, '126.971489', '126.971489', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '127.001157', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '127.001157', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '127.037960', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.979265', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.968354', '126.979265', '126.957773', '126.964248', '126.968354', '126.968354', None, '126.976805', '126.976805', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.995427', '126.995427', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.972589', '126.981026', '126.981026', '126.981026', '126.981026', '126.972589', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.972589', '126.981026', '126.981026', '126.972589', '126.981026', '127.073516', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', None, '126.972589', '126.981026', '126.981026', '126.972589', '126.981026', '126.981026', '126.972589', '126.972589', '126.981026', '126.981026', '126.981026', '126.981026', '126.972589', '126.981026', '126.981026', '126.972589', '126.972589', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.995427', '126.972589', '126.981026', '126.972589', '126.981026', '126.972589', '126.981026', '126.981026', '126.981026', None, '126.981026', '127.039084', '126.981026', '127.039084', '127.033258', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '127.033258', '127.056125', '126.978938', '126.978938', '127.039084', '126.972589', None, '127.082381', '127.084745', '127.073516', '126.963299', '126.963299', '126.963299', '127.089493', None, '127.089493', '127.084745', '127.073516', '127.073516', '127.073516', '127.084745', '127.089493', '126.981026', '127.084745', '127.073516', None, '127.082381', '127.073516', '127.082381', '127.073516', '127.073516', '127.073516', None, '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '127.033258', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '127.067652', '126.981026', '126.972589', '126.981026', '126.981026', '127.067652', '126.981026', '126.981026', '126.972589', '126.972589', '126.995427', '126.972589', '127.067652', '126.972589', '127.067652', None, '126.946500', '126.963299', '127.089493', '126.981026', None, '127.033258', '127.003955', '127.033258', '126.978938', None, '127.089493', '127.084745', '126.946500', '127.089493', '127.089493', None, '127.073516', '127.084745', '127.089493', '127.089493', '126.981026', '126.981026', '127.084745', '126.981026', '126.946500', '127.073516', '126.963299', None, '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.972589', '126.981026', '126.978938', '126.981026', '126.981026', '126.972589', '126.972589', '127.033258', '126.981026', '127.033258', None, '126.981026', '127.089493', '126.981026', '127.089493', '127.073516', '126.981026', '126.981026', '127.082381', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '127.082381', '126.981026', '126.981026', '127.082381', '126.981026', '126.981026', '126.981026', '127.073516', '127.073516', '126.981026', '127.082381', '126.981026', '126.981026', None, '126.995427', '126.946500', '126.963299', None, '127.082381', '127.073516', '127.082381', '127.082381', '127.082381', '127.082381', '127.082381', '127.073516', '127.082381', '127.073516', '126.981026', '127.073516', '126.981026', None, '127.082381', '127.082381', '127.073516', '127.073516', '127.073516', '127.073516', '127.073516', '127.073516', '126.981026', '127.073516', None, '127.089493', '127.089493', '126.946500', None, '127.077829', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '127.085704', '126.981026', '127.082381', '126.910870', '126.981026', '126.981026', '126.981026', '126.981026', '126.981026', '127.082381', '127.100419', '126.981026', '126.910870', '127.085704', '126.981026', '126.981026', '126.981026', '127.077829', '126.981026', '127.077829', '127.077829', '127.077829', '126.981026', '126.981026', '126.910870', '127.077829', '126.981026', None, '127.033258', '126.972589', '126.981026', '126.981026', '127.033258', '126.981026', '127.033258', '126.972589', '126.972589', None, '127.082381', '127.082381', '127.073516', None, '127.082381', '127.082381', '127.073516', '127.073516', '127.082381', '127.082381', '127.082381', '127.082381', '126.981026', '126.981026', None, '126.893779', '126.880425', '126.847336', '126.847336', '126.847336', '126.893779', '126.847336', '126.981026', '126.906670', '126.822980', '126.981026', '126.880425', '126.893779', '126.893779', None, '126.910870', '126.981026', '127.073516', '126.910870', '126.930866', '126.910870', '126.943731', '126.943731', '126.943731', '126.943731', '126.943731', '127.077829', '127.077829', None, '126.963299', '126.981026', '127.089493', '126.972589', '126.963299', '126.963299', '126.963299', '127.089493', '127.089493']

In [40]:
arr_third_x = []
arr_third_y = []
for m in last['third']:
    if m != None:
        for n in range(len(map_data.index)):
            if m == map_data.loc[n][4]:
                arr_third_x.append(map_data.loc[n]['x'])
                arr_third_y.append(map_data.loc[n]['y'])
                break
    else:
        arr_third_x.append(None)
        arr_third_y.append(None)

In [41]:
last['first_mapx'] = arr_first_x
last['first_mapy'] = arr_first_y
last['second_mapx'] = arr_second_x
last['second_mapy'] = arr_second_y
last['third_mapx'] = arr_third_x
last['third_mapy'] = arr_third_y

In [42]:
last

,id,address,gu,dong,mac_score,lot_score,burgerking_score,seveneleven_score,cu_score,gs25_score,...,total_count,first,second,third,first_mapx,first_mapy,second_mapx,second_mapy,third_mapx,third_mapy
0,0,서울특별시,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,None,None,None,None,None,None,None,None,None
1,1,서울특별시 종로구,NaN,NaN,0.00,0.00,0.0,0.00,0.00,0.00,...,0,None,None,None,None,None,None,None,None,None
2,2,서울특별시 종로구 청운동,종로구,청운동,0.00,0.00,0.0,0.00,0.00,0.12,...,1,신교동,궁정동,효자동,37.583911,126.968354,37.584381,126.971489,37.582416,126.971670
3,3,서울특별시 종로구 신교동,종로구,신교동,0.00,0.00,0.0,0.00,0.13,0.00,...,1,청운동,궁정동,효자동,37.587111,126.969069,37.584381,126.971489,37.582416,126.971670
4,4,서울특별시 종로구 궁정동,종로구,궁정동,0.00,0.00,0.0,0.00,0.00,0.00,...,0,청운동,신교동,효자동,37.587111,126.969069,37.583911,126.968354,37.582416,126.971670
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,서울특별시 강동구 둔촌동,강동구,둔촌동,3.33,0.00,0.0,0.85,0.67,0.88,...,17,신당동,한강로3가,중곡동,37.559441,127.013427,37.524659,126.963299,37.561882,127.084745
489,489,서울특별시 강동구 암사동,강동구,암사동,0.00,1.25,0.0,1.06,1.73,1.75,...,34,신당동,한강로3가,중곡동,37.559441,127.013427,37.524659,126.963299,37.561882,127.084745
490,490,서울특별시 강동구 성내동,강동구,성내동,3.33,1.25,10.0,2.55,2.67,3.00,...,67,신당동,한강로3가,중곡동,37.559441,127.013427,37.524659,126.963299,37.561882,127.084745
491,491,서울특별시 강동구 천호동,강동구,천호동,3.33,1.25,0.0,4.68,2.93,3.12,...,74,무학동,구의동,군자동,37.564149,127.015091,37.544655,127.089493,37.553878,127.073516
492,492,서울특별시 강동구 강일동,강동구,강일동,0.00,1.25,0.0,0.64,0.53,0.62,...,13,무학동,구의동,군자동,37.564149,127.015091,37.544655,127.089493,37.553878,127.073516

In [43]:
last.to_csv("last_data.txt", mode="w")