In [1]:
import pandas as pd

In [3]:
mcdonald_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data/data_adg/패스트푸드점/맥도날드.txt')
mcdonald_data['dong'] = mcdonald_data.apply(lambda x:x["address"].split()[2], axis=1)
mcdonald_data['gu'] = mcdonald_data.apply(lambda x:x["address"].split()[1], axis=1)

In [4]:
lotteria_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data/data_adg/패스트푸드점/롯데리아.txt')
lotteria_data['dong'] = lotteria_data.apply(lambda x:x["address"].split()[2], axis=1)
lotteria_data['gu'] = lotteria_data.apply(lambda x:x["address"].split()[1], axis=1)

In [5]:
burgerking_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data/data_adg/패스트푸드점/버거킹.txt')
burgerking_data['dong'] = burgerking_data.apply(lambda x:x["address"].split()[2], axis=1)
burgerking_data['gu'] = burgerking_data.apply(lambda x:x["address"].split()[1], axis=1)

In [7]:
kfc_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data/data_adg/패스트푸드점/케이에프씨.txt')
kfc_data['dong'] = kfc_data.apply(lambda x:x["address"].split()[2], axis=1)
kfc_data['gu'] = kfc_data.apply(lambda x:x["address"].split()[1], axis=1)

In [8]:
k = 0
for i in mcdonald_data["gu"].value_counts(dropna=False).items():
    print(i)
    k += i[1]
print(k)

('강남구', 12)
('송파구', 6)
('서초구', 6)
('양천구', 5)
('종로구', 5)
('마포구', 5)
('노원구', 5)
('강북구', 5)
('동작구', 4)
('강서구', 4)
('금천구', 4)
('강동구', 4)
('영등포구', 4)
('구로구', 4)
('중구', 3)
('중랑구', 3)
('은평구', 3)
('서대문구', 3)
('동대문구', 3)
('성북구', 3)
('성동구', 2)
('용산구', 2)
('도봉구', 2)
('광진구', 2)
('관악구', 1)
100

In [9]:
k = 0
for i in mcdonald_data["dong"].value_counts(dropna=False).items():
    print(i)
    k += i[1]
print(k)

('삼성동', 3)
('서초동', 3)
('미아동', 3)
('논현동', 3)
('가산동', 3)
('역삼동', 2)
('신사동', 2)
('행당동', 2)
('구로동', 2)
('상계동', 2)
('양재동', 2)
('신월동', 2)
('번동', 2)
('서교동', 1)
('신천동', 1)
('응암동', 1)
('양평동3가', 1)
('하계동', 1)
('회현동3가', 1)
('을지로1가', 1)
('상도동', 1)
('신정4동', 1)
('염창동', 1)
('갈현2동', 1)
('창천동', 1)
('장지동', 1)
('성내동', 1)
('명륜2가', 1)
('장안동', 1)
('화곡동', 1)
('이태원동', 1)
('화양동', 1)
('고척동', 1)
('종암동', 1)
('망우동', 1)
('안암동5가', 1)
('신림동', 1)
('목동', 1)
('동소문동1가', 1)
('동교동', 1)
('명동1가', 1)
('쌍문동', 1)
('등촌동', 1)
('방배1동', 1)
('시흥동', 1)
('흑석동', 1)
('망원동', 1)
('가락동', 1)
('공릉동', 1)
('종로3가', 1)
('영등포동3가', 1)
('청담동', 1)
('동숭동', 1)
('안국동', 1)
('공항동', 1)
('중계동', 1)
('이문동', 1)
('신정동', 1)
('홍제동', 1)
('전농동', 1)
('도화동', 1)
('여의도동', 1)
('상암동', 1)
('신길동', 1)
('창신동', 1)
('도봉동', 1)
('잠실본동', 1)
('송파동', 1)
('신내동', 1)
('자양2동', 1)
('동자동', 1)
('천호동', 1)
('잠실동', 1)
('노량진동', 1)
('상봉2동', 1)
('사당동', 1)
('신도림동', 1)
('둔촌동', 1)
('구산동', 1)
('상일동', 1)
('남가좌동', 1)
('대치동', 1)
100

In [10]:
korea_data = pd.read_csv('C:/Users/multicampus/yogeuncheo/data/data_gdr/1-2. 서울 법정동 주소목록(최종).txt', sep="\t")
korea_data["goo"] = korea_data.apply(lambda x:x["법정동명"].split()[1] if len(x["법정동명"].split())==3 else "",axis=1)
korea_data["dong"] = korea_data.apply(lambda x:x["법정동명"].split()[2] if len(x["법정동명"].split())==3 else "",axis=1)
korea_data.rename(columns={"법정동명":"address"}, inplace = True)
korea_data

           address  goo dong
0            서울특별시
1        서울특별시 종로구
2    서울특별시 종로구 청운동  종로구  청운동
3    서울특별시 종로구 신교동  종로구  신교동
4    서울특별시 종로구 궁정동  종로구  궁정동
..             ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동
489  서울특별시 강동구 암사동  강동구  암사동
490  서울특별시 강동구 성내동  강동구  성내동
491  서울특별시 강동구 천호동  강동구  천호동
492  서울특별시 강동구 강일동  강동구  강일동

[493 rows x 3 columns]

In [11]:
new_mc = mcdonald_data.groupby("dong")
new_mc = pd.DataFrame(new_mc["address"].count())
new_mc.columns = ["맥도날드"]
new_korea_data = pd.merge(korea_data,new_mc,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드
0            서울특별시             0.0
1        서울특별시 종로구             0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0
..             ...  ...  ...   ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0

[493 rows x 4 columns]

In [12]:
new_lotte = lotteria_data.groupby("dong")
new_lotte = pd.DataFrame(new_lotte["address"].count())
new_lotte.columns = ['롯데리아']
new_korea_data = pd.merge(new_korea_data,new_lotte,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드  롯데리아
0            서울특별시             0.0   0.0
1        서울특별시 종로구             0.0   0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0   0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0   0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0   0.0
..             ...  ...  ...   ...   ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0   0.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0   1.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0   1.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0   1.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0   1.0

[493 rows x 5 columns]

In [13]:
new_burgerking = burgerking_data.groupby("dong")
new_burgerking = pd.DataFrame(new_burgerking["address"].count())
new_burgerking.columns = ['버거킹']
new_korea_data = pd.merge(new_korea_data,new_burgerking,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드  롯데리아  버거킹
0            서울특별시             0.0   0.0  0.0
1        서울특별시 종로구             0.0   0.0  0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0   0.0  0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0   0.0  0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0   0.0  0.0
..             ...  ...  ...   ...   ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0   0.0  0.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0   1.0  0.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0   1.0  3.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0   1.0  0.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0   1.0  0.0

[493 rows x 6 columns]

In [14]:
new_kfc = kfc_data.groupby("dong")
new_kfc = pd.DataFrame(new_kfc["address"].count())
new_kfc.columns = ['kfc']
new_korea_data = pd.merge(new_korea_data,new_kfc,on="dong" ,how="left").fillna(0)
new_korea_data

           address  goo dong  맥도날드  롯데리아  버거킹  kfc
0            서울특별시             0.0   0.0  0.0  0.0
1        서울특별시 종로구             0.0   0.0  0.0  0.0
2    서울특별시 종로구 청운동  종로구  청운동   0.0   0.0  0.0  0.0
3    서울특별시 종로구 신교동  종로구  신교동   0.0   0.0  0.0  0.0
4    서울특별시 종로구 궁정동  종로구  궁정동   0.0   0.0  0.0  0.0
..             ...  ...  ...   ...   ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동   1.0   0.0  0.0  1.0
489  서울특별시 강동구 암사동  강동구  암사동   0.0   1.0  0.0  0.0
490  서울특별시 강동구 성내동  강동구  성내동   1.0   1.0  3.0  1.0
491  서울특별시 강동구 천호동  강동구  천호동   1.0   1.0  0.0  0.0
492  서울특별시 강동구 강일동  강동구  강일동   0.0   1.0  0.0  0.0

[493 rows x 7 columns]

In [15]:
new_korea_data["맥도날드"] = new_korea_data["맥도날드"].apply(lambda x:int(x))
new_korea_data["롯데리아"] = new_korea_data["롯데리아"].apply(lambda x:int(x))
new_korea_data["버거킹"] = new_korea_data["버거킹"].apply(lambda x:int(x))
new_korea_data["kfc"] = new_korea_data["kfc"].apply(lambda x:int(x))

In [16]:
new_korea_data

           address  goo dong  맥도날드  롯데리아  버거킹  kfc
0            서울특별시               0     0    0    0
1        서울특별시 종로구               0     0    0    0
2    서울특별시 종로구 청운동  종로구  청운동     0     0    0    0
3    서울특별시 종로구 신교동  종로구  신교동     0     0    0    0
4    서울특별시 종로구 궁정동  종로구  궁정동     0     0    0    0
..             ...  ...  ...   ...   ...  ...  ...
488  서울특별시 강동구 둔촌동  강동구  둔촌동     1     0    0    1
489  서울특별시 강동구 암사동  강동구  암사동     0     1    0    0
490  서울특별시 강동구 성내동  강동구  성내동     1     1    3    1
491  서울특별시 강동구 천호동  강동구  천호동     1     1    0    0
492  서울특별시 강동구 강일동  강동구  강일동     0     1    0    0

[493 rows x 7 columns]

In [18]:
new_korea_data.to_csv('C:/Users/multicampus/yogeuncheo/data/data_adg/프렌차이즈 개수.txt', header=True, index=False, encoding="UTF-8")